<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="FileUploaderSoap" />
        <binding name="FileUploaderSoap1" />-->
      
    
        
        <binding name="FileUploaderSoap" allowCookies="true"
             maxReceivedMessageSize="20000000"
             maxBufferSize="20000000"
             maxBufferPoolSize="20000000">
      <readerQuotas maxDepth="32"
           maxArrayLength="200000000"
           maxStringContentLength="200000000"/>
    </binding>  
             <binding name="FileUploaderSoap1" allowCookies="true"
             maxReceivedMessageSize="20000000"
             maxBufferSize="20000000"
             maxBufferPoolSize="20000000">
      <readerQuotas maxDepth="32"
           maxArrayLength="200000000"
           maxStringContentLength="200000000"/>
    </binding>  
      
    
      
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2238/FileUploader.asmx" binding="basicHttpBinding"
        bindingConfiguration="FileUploaderSoap" contract="ServiceReference1.FileUploaderSoap"
        name="FileUploaderSoap" />
      <endpoint address="http://localhost:2238/FileUploader.asmx" binding="basicHttpBinding"
        bindingConfiguration="FileUploaderSoap1" contract="ServiceReference2.FileUploaderSoap"
        name="FileUploaderSoap1" />
    </client>
  </system.serviceModel>
</configuration>